<section class="update-main">
    <div class="update-container">
      <% if (title) { %>
        <h1><%= title %></h1>
        <%- messages() %>
      <% } %>
  
      <% if (errors) { %>
        <ul class="errors">
          <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
  
      <form class="update-form" action="/account/update" method="post">
        <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
        
        <label for="account_firstname">First Name:</label>
        <input type="text" id="account_firstname" name="account_firstname" required 
               value="<%= locals.account_firstname || locals.accountData.account_firstname %>">
  
        <label for="account_lastname">Last Name:</label>
        <input type="text" id="account_lastname" name="account_lastname" required 
               value="<%= locals.account_lastname || locals.accountData.account_lastname %>">
  
        <label for="account_email">Email:</label>
        <input type="email" id="account_email" name="account_email" required 
               value="<%= locals.account_email || locals.accountData.account_email %>">
  
        <button type="submit" class="update-btn">Update Account</button>
      </form>
    </div>
    
    <div class="update-container">

      <h1>Update Password</h1>

      <form class="password-form" action="/account/update-password" method="post">
        <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">

        <p>By entering a new password the current password will be changed</p>
        <label for="account_password">New Password:</label>
        <input type="password" id="account_password" name="account_password" required
               pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <span id="pwbutton">Show Password</span>
        <p>Password must be at least 12 characters with 1 uppercase, 1 number, and 1 special character</p>
  
        <button type="submit" class="update-btn">Change Password</button>
      </form>
    </div>
</section>
<script src="/js/script.js"></script>