<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

<body>
    <div id="wrapper">
        <%- include('../partials/header')%>
        <%- include('../partials/navigation')%>

        <main class="index-main">
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>